html,
body {
  height: 100%; }

body {
  background: orange; }

#container {
  width: 100%; }

img {
  display: block;
  max-width: 100%; }

#reel {
  overflow: hidden; }
  #reel ul {
    float: left; }
    #reel ul li {
      background: gray;
      position: relative;
      float: left;
      width: 100%; }
      #reel ul li h1 {
        text-align: center; }
      #reel ul li .box {
        margin: 0 auto;
        position: relative;
        background: yellow; }
        #reel ul li .box span {
          background: #FFFFFF;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          display: block; }
        #reel ul li .box span.small {
          top: 0;
          left: 0;
          position: absolute; }
        #reel ul li .box span.medium {
          bottom: 0;
          right: 0;
          position: absolute; }
        #reel ul li .box span.landscape {
          padding: 1.48148%; }
        #reel ul li .box span.landscape.small {
          left: -17.40741%;
          width: 34.81481%; }
        #reel ul li .box span.landscape.large {
          width: 97.03704%; }
        #reel ul li .box span.landscape.medium {
          right: -24.07407%;
          width: 48.14815%; }
        #reel ul li .box span.portrait {
          padding: 2.21607%; }
        #reel ul li .box span.portrait.small {
          left: -16.6205%;
          width: 33.241%; }
        #reel ul li .box span.portrait.large {
          width: 95.56787%; }
        #reel ul li .box span.portrait.medium {
          right: -23.54571%;
          width: 47.09141%; }
      #reel ul li .box.landscape {
        max-width: 540px;
        width: 38.57143%; }
      #reel ul li .box.portrait {
        max-width: 361px;
        width: 25.78571%; }
