$layout_width : 1400px;

// portrait context
$box_portrait             : 361px;
$box_portrait_resp        : ($box_portrait / $layout_width) * 100%;
$img_portrait_small       : 120px;
$img_portrait_small_resp  : ($img_portrait_small / $box_portrait) * 100%;
$img_portrait_large       : 345px;
$img_portrait_large_resp  : ($img_portrait_large / $box_portrait) * 100%;
$img_portrait_medium      : 170px;
$img_portrait_medium_resp : ($img_portrait_medium / $box_portrait) * 100%;

// landscape context
$box_landscape             : 540px;
$box_landscape_resp        : ($box_landscape / $layout_width) * 100%;
$img_landscape_small       : 188px;
$img_landscape_small_resp  : ($img_landscape_small / $box_landscape) * 100%;
$img_landscape_large       : 524px;
$img_landscape_large_resp  : ($img_landscape_large / $box_landscape) * 100%;
$img_landscape_medium      : 260px;
$img_landscape_medium_resp : ($img_landscape_medium / $box_landscape) * 100%;


html,
body {
    height: 100%;
}

body {
    background: orange;
}

#container {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

// reel component
#reel {
    
    //visibility: hidden;
    overflow: hidden;

    ul {

        float: left;

        li.unload {
            //visibility: hidden;
            //display: none;
        }

        li {
            background: gray;
            position: relative;
            float: left;
            width: 100%;

            h1 {
                text-align: center;
            }

            .box {
                margin: 0 auto;
                position: relative;
                background: yellow;

                span {
                    background: #FFFFFF;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
                    display: block;
                }

                span.small {
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                span.large {}

                span.medium {
                    bottom: 0;
                    right: 0;
                    position: absolute;
                }

                // -- Landscape
                span.landscape {
                    padding: (8px / $box_landscape) * 100%;
                }
                span.landscape.small {
                    left: ($img_landscape_small_resp/2)*-1;
                    width: $img_landscape_small_resp;
                }

                span.landscape.large {
                    width: $img_landscape_large_resp;
                }

                span.landscape.medium {
                    right: ($img_landscape_medium_resp/2)*-1;
                    width: $img_landscape_medium_resp;
                }

                // -- Portrait
                span.portrait {
                    padding: (8px / $box_portrait) * 100%;
                }

                span.portrait.small {
                    left: ($img_portrait_small_resp/2)*-1;
                    width: $img_portrait_small_resp;
                }

                span.portrait.large {
                    width: $img_portrait_large_resp;
                }

                span.portrait.medium {
                    right: ($img_portrait_medium_resp/2)*-1;
                    width: $img_portrait_medium_resp;
                }

            } // end .box

            .box.landscape {
                max-width: $box_landscape;
                width: $box_landscape_resp;
            }

            .box.portrait {
                max-width: $box_portrait;
                width: $box_portrait_resp;
            } // end .box.portrait
        } 
    }

}